*{
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.App {
  
}

.Header {
  background:purple;
  color: red;
}

.Main {
  background: lightblue;
}

.artist-profile-previewimg {
  width: 10em;
  height: auto;
}

